.lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 984px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 92px;
}

.lead__title {
  max-width: 720px;
  width: 100%;
  margin: 0;
  padding-bottom: 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: #fff;
}

.lead__subtitle {
  max-width: 720px;
  width: 100%;
  margin: 0;
  padding: 0 16px 64px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  margin: 0;
  filter: grayscale(100%);
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 720px;
    padding-bottom: 88px;
  }
  .lead__title {
    max-width: 530px;
    padding-bottom: 25px;
    font-size: 75px;
    line-height: 1.05;
  }

  .lead__subtitle {
    padding-bottom: 30px;
  }

  .lead__image {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 288px;
    padding-bottom: 64px;
  }
  .lead__title {
    max-width: 288px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    padding: 0 16px 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    max-width: 288px;
  }
}
